@import './MadlibForm.scss';

%field-input-element-defaults {
  background: transparent;
  border: 0;
  border-bottom: 3px solid white;
  color: $editable-color;
  font-size: $editable-font-size;
  height: 30px;
  padding-bottom:5px;
  text-decoration: none;
  padding-left:0px;
  outline: 0;
}

.editable-field-wrapper {
  position: relative;
}

.editable-field-wrapper.transitionOut {
  color: $non-editable-color;
  font-size:$non-editable-font-size;
  transition-property: color, font-size;
  transition-duration: 1s;
}

.field-input-element {
  width: $text-input-width;
  @extend %field-input-element-defaults;
}

.transitionOut .field-input-element {
  color: $non-editable-color;
  font-size:$non-editable-font-size;
  border-color: transparent;
  transition-property: color, border-color, font-size;
  transition-duration: 1s;
}

.editable-field-wrapper.error .field-input-element {
  @extend %field-input-element-defaults;
  border-color:red;
}


.number-input-element {
  width: $number-input-width;
  @extend %field-input-element-defaults
}

.field-input-element:focus {
  outline: none;
}

.field-error-msg {
  opacity: .9;
  padding:2px 5px;
  position: absolute;
  letter-spacing: 1px;
  right:1px;
  bottom:-20px;
  font-size:12px;
  font-style: italic;
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: .15s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}
