header.header-not-started {
  font-size: 36px;
  cursor: pointer; }

header.header-started {
  font-size: 24px;
  color: #6FBF86; }

.submitted .header-started {
  position: absolute;
  top: 20px;
  color: #17AB5A; }

header.header-started {
  font-size: 24px;
  color: #6FBF86; }

header .sub-header {
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 1px; }

.madlib-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.madlib-form {
  background-color: #17AB5A; }

.madlib-form.submitted {
  background-color: white;
  color: black;
  font-size: 11px;
  font-weight: bold; }
